# gelbooru-sync required
GELBOORU_API_KEY=****************************************************************
GELBOORU_USER_ID=000000
GELBOORU_USERNAME=**********
GELBOORU_PASSWORD=**********
DATA_PATH=gelbooru-sync
SYNC_TO_SZURUBOORU=false   # set to false to disable syncing to Szurubooru

# gelbooru-sync optional
#FILES_FOLDER_PATH=/app/data
#SHORT_SYNC_TIMEOUT=60
#FULL_SYNC_TIMEOUT=10800
#FULL_SYNC_ON_STARTUP=false